.dropdown-menu {
    padding-right: 100px;
}

.nav-item {
    padding: 10px;
    padding-left: 0px;
    padding-right: 10px;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
 
body {
    background-color:lime ;
}

.MPC {
 max-width: 100%;
 height: auto;   
}

.PLAY {
    max-width: 100%;
    height: auto;   
   }